* {
    box-sizing: border-box;
    
}

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 99%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid rgb(75, 72, 72);
    margin-bottom: 12px;
}
#myInput2 {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 99%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid  rgb(75, 72, 72);
    margin-bottom: 12px;
}


.myTable {
    border-collapse: collapse;
    width: 99%;
    border: 1px solid #ddd;
    font-size: 18px;
}

.myTable th,
.myTable td {
    text-align: left;
    padding: 12px;
}

.myTable tr {
    border-bottom: 1px solid #ddd;
}

.myTable tr.header,
.myTable tr:hover {
    background-color: #f1f1f1;
}
.aimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#myInput3{
    margin-bottom:5px ;
    width: 30%;
    height: 40px;
}
