<main>
    <div id="accordion">
        <div class="card m-3" style="border: 15px;">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-outline-dark" data-toggle="collapse" data-target="#category" aria-expanded="false" aria-controls="collapseTwo">Bonde de livraison

      </button>
                </h5>
            </div>
            <div id="category" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <div class="card">
                        <div class="card-header">
                            Extraire le bonde de livraison
                        </div>
                        <div class="card-body ">
                            <div class="form-row">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>