<!DOCTYPE html>
<html lang="fr">
{% extends 'Dashboard.html' %} {% load static %}{% block content %}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/main.css'%}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous">
    </script>
    <script src="{% static 'js/historique.js'%}"></script>
    <script src="{% static 'js/scripts.js'%}"></script>
    <title>historique</title>
</head>
<script>
    $(document).ready(function() {
        $('.attendencecheckbox').click(function() {
            var txt = "";
            $('.attendencecheckbox:checked').each(function() {
                txt += $(this).val() + ","
            });
            $('#attendencevalueinput').val(txt);
        });
    })
</script>

<body>

    <main>
        <div id="message">{% include 'messages.html' %} </div>
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    Formation form
                </div>
                <div class="card-body ">
                    <form class="needs-validation" action="" method="POST" novalidate>
                        {% csrf_token %} {{ form.as_p }}
                        <div class="form-row ">
                            <div class="form-group col-md-6">
                                <label for="Centre" class="form-label">La Formation principal</label>
                                <input type="text" class="form-control " name="Centre" placeholder="Entrée la formation" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Sous_centre" class="form-label">Centre d'affiliation</label>
                                <br>
                                <input type="text" name='Sous_centre' class="form-control is-invalid " id='attendencevalueinput' size='100' required>

                            </div>
                            <hr class="my-4">
                            <button class=" btn btn-outline-dark btn-lg" data-toggle="modal" data-target="#exampleModal">Ajouter Centre</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>
</body>
<script>
</script>
{% endblock %}

</html>