<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard</title>
    <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/historique.js'%}"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark" style="background-color:#ffc107">
        <a class="navbar-brand" href="/"><img src="/static/assets/img/logo.svg" alt="logo" width="50px" height="50px"></a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item btn-outline-dark" href="/admin">Admin Compte  <i class="fas fa-user fa-fw"></i></a>
                <hr class=" my-1 ">
                <a class="dropdown-item btn-outline-dark" href="/logout">Se déconnecter  <i class="fas fa-chevron-circle-right"></i></a>
            </div>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-info aa" id="sidenavAccordion">
                <div class="sb-sidenav-menu scrollbar scrollbar-primary">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Home</div>
                        <a class="nav-link" href="/" style="color:black;">
                            <div class="sb-nav-link-icon"><i class="fa fa-home"></i></div>
                            Page d'accueil
                        </a>
                        <div class="sb-sidenav-menu-heading">Reception</div>
                        <a class="nav-link" href="/reception/" style="color:black;">
                            <div class="sb-nav-link-icon"><i class="fa fa-plus-square"></i></div>
                            Cesi reception
                        </a>

                        <a class="nav-link" href="/categories/" style="color:black;">
                            <div class="sb-nav-link-icon"><i class="fa fa-plus-square"></i></div>
                            Cesie Categorie
                        </a>
                        <a class="nav-link" href="/Centre/" style="color:black;">
                            <div class="sb-nav-link-icon"><i class="fa fa-plus-square"></i></div>
                            Cesi des Formation
                        </a>
                        <a class="nav-link" href="/Materiel/" style="color:black;">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Modifier Materiel
                        </a>
                        <div class="sb-sidenav-menu-heading">Livraison</div>
                        <a class="nav-link" href="/livraison/" style="color:black;">
                            <div class="sb-nav-link-icon"><i class="fa fa-share-square"></i></div>
                            Cesi Livraison
                        </a>
                        <a class="nav-link" href="/index2/" style="color:black;">
                            <div class="sb-nav-link-icon"><i class="fa fa-download"></i></div>
                            Bon de Livraison
                        </a>

                        <div class="sb-sidenav-menu-heading">Historique</div>

                        <a class="nav-link" href="/historique-reception/" style="color:black;">
                            <div class="sb-nav-link-icon"><i class="fa fa-table"></i></div>
                            historique de réception
                        </a>
                        <a class="nav-link" href="/historique-livraison/" style="color:black;">
                            <div class="sb-nav-link-icon"><i class="fa fa-table"></i></div>
                            historique de livraison
                        </a>

                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small"><h5> Profile: {{request.user}}</h5> </div>
                   <h5> </h5> 
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            {% block content %} {% endblock %}
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Created By <a href="https://www.linkedin.com/in/oubia-mohammed-724b32189/" target="_blank">Mohammed Oubia</a> &middot;
                            <a href="https://www.linkedin.com/in/anass-nassiri-5487051a3" target="_blank">Anass Nassiri  </a></div>

                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'assets/demo/chart-area-demo.js'%}"></script>
    <script src="{% static 'assets/demo/chart-bar-demo.js'%}"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'assets/demo/datatables-demo.js'%}"></script>
</body>

</html>