<!DOCTYPE html>
<html lang="en">
{% extends 'Dashboard.html' %} {% load static %}{% block content %}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/main.css'%}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous">
    </script>
    <script src="{% static 'js/historique.js'%}"></script>
    <script src="{% static 'js/scripts.js'%}"></script>
    <title>historique</title>
</head>

<body>
    <div id="message">
        {% include 'messages.html' %}
    </div>
    <main class="card -m-6">
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    Historique de livraison
                </div>
                <div class="card-body "> 
                <div style="overflow-x:auto;" class="card-body">
                    <input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Chercher par Titre de livraison , Date ,,Formation , Sous formation" title="Type in a name">
                    <table id="myTable2" class="table table-bordered">
                        <thead class="table-dark">
                            <tr class="header">
                                <th style="width: 15%;" scope="col">Titre de livraison</th>
                                <th style="width:20px;"scope="col">Date </th>
                                <th style="width:10%;"scope="col">Formation</th>
                                <th style="width:10%;"scope="col">Sous formation</th>
                                <th style="width:5%;"scope="col">Decompte</th>
                                <th style="width:15%;" scope="col">Nu inv sortie </th>
                                <th style="width:20px;" scope="col">Prix unitaire</th>
                                <th style="width:20px;"scope="col">Quantite livrée</th>
                                <th style="width:20px;"scope="col">Author</th>

                            
                            </tr>
                        </thead>
                        
                    </table>
                </div>
            </div>
        </div>
        
    </main>

</body>

{% endblock %}

</html>