<!DOCTYPE html>
<html lang="fr">

{% extends 'Dashboard.html' %}{% load static %} {% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/main.css'%}" rel="stylesheet" />

    <script src="{% static 'js/scripts.js' %}"></script>
    <title>Home</title>
</head>

<body>
    <main>
        <div id="message">
            {% include 'messages.html' %}
        </div>
        <header>
            <img src="/static/assets/img/111.jpg" alt="" class="aimg"><br>
        </header>
        <!-- logo here -->
        <div class="row mt-4">
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-white  mb-3" id="total_laivraison">
                        <div class="card-header">
                            <h5 class="card-title">Total des livraisons</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">
                                {{total_livraison}}

                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-white  mb-3" id="total_reception">
                        <div class="card-header">
                            <h5 class="card-title">Total des réceptions</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">
                                {{total_reception}}
                            </h3>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-white  mb-3" id="total_centres">
                        <div class="card-header">
                            <h5 class="card-title">Total des centres</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">
                                {{total_center}}
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            #total_laivraison {
                background-color: #4cb4c7;
            }
            
            #total_reception {
                background-color: #7abecc;
            }
            
            #total_centres {
                background-color: #7CD1C0;
            }
        </style>


    </main>
    <script>
        setTimeout(function() {
            if ($('#msg').length > 0) {
                $('#msg').remove();
            }
        }, 2000)
    </script>
    {% endblock %}
</body>


</html>