<!DOCTYPE html>
<html lang="en">

{% extends 'Dashboard.html' %}{% load static %} {% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
    <script src="{% static 'js/scripts.js' %}"></script>

    <title>Home</title>
</head>

<body>
    <main>
        <div id="message">
            {% include 'messages.html' %}
        </div>
        <a class="btn btn-danger" type="submit" href="admin/"> create user </a>

    </main>
</body>
<script>
    setTimeout(function() {
        if ($('#msg').length > 0) {
            $('#msg').remove();
        }
    }, 2000)
</script>
{% endblock %}

</html>