<main>
    <div id="accordion">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-outline-dark" data-toggle="collapse" data-target="#Materiel" aria-expanded="false" aria-controls="collapseTwo">Materiel form
      </button>
            </h5>
        </div>
        <div id="Materiel" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        Materiel form
                    </div>
                    <div class="card-body ">
                        <form class="needs-validation" action="" method="POST" novalidate>
                            {% csrf_token %} {{ form.as_p }}
                            <label for="Materielform_delete" class="form-label">Material</label>
                            <select id="Materielform_delete" name="Materielform_delete" class="form-control select" size="1" required>
                                        {% for data in materiel_data %}
                                        <option value="{{data.Designation_Object}}">{{data.Designation_Object}}</option>
                                        {% endfor %}
                                    </select>
                            <hr class="my-4">
                            <button class=" btn btn-outline-dark btn-lg" data-toggle="modal" data-target="#exampleModal">Supprimier Materiel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>