<!DOCTYPE html>
<html lang="en">
{% extends 'Dashboard.html' %} {% load static %}{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reception</title>
</head>

<body>
    <main>
        <div id="message">
            {% include 'messages.html' %}
        </div>
        <div id="accordion">
            <div class="card m-3" style="border: 15px;">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-outline-dark" data-toggle="collapse" data-target="#reception_form" aria-expanded="true" aria-controls="collapseOne">
                    Reception form
                  </button>
                    </h5>
                </div>
                <div id="reception_form" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="container">
                            <div class="">
                                <div class="card">
                                    <div class="card-header">
                                        Reception de materiel
                                    </div>
                                    <div class="card-body ">
                                        <form class="needs-validation" action="" method="POST" novalidate>
                                            {% csrf_token %} {{ form.as_p }}

                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="Desingation" class="form-label">désignation des objets</label>
                                                    <input type="text" class="form-control " name="Desingation" placeholder="Entrée la désignation des objets" required>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="categorie" class="form-label">Choisie categorie:</label><br>
                                                    <select id="categorie" name="categorie" class="form-control select" size="1" required>
                                                        {% for data in categories_data %}
                                                        <option value="{{data.category_name}}">{{data.category_name}}</option>
                                                        {% endfor %}
                                            </select>
                                                </div>
                                            </div>
                                            <div class="form-row ">
                                                <div class="form-group col-md-6">
                                                    <label for="prix_total">prix d'achat on total</label>
                                                    <input type="number" name="prix_total" placeholder="1.0" step="0.1" min="0" class="form-control" placeholder="prix d'achat on total" required>

                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="prix_unite">prix d'achat de l'unite</label>
                                                    <input type="number" name="prix_unite" placeholder="1.0" step="0.1" min="0" class="form-control" placeholder="prix d'achat de l'unite" required>
                                                </div>
                                            </div>
                                            <div class="form-row col-md-13 mb-4">
                                                <label for="Quantite">Quantite</label>
                                                <input type="number" min="1" name="Quantite" class="form-control" placeholder="Entrée la Quantite" required>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="Nouveau" name="raiobox" class="custom-control-input" value="Nouveau" required>
                                                <label class="custom-control-label" for="Nouveau">Nouveau</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="Usage" name="raiobox" class="custom-control-input" value="Usage" required>
                                                <label class="custom-control-label" for="Usage"> Usagé</label>
                                            </div>
                                            <hr class="my-4">
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="Emplacement">Emplacement</label>
                                                    <input type="text" class="form-control" name="Emplacement" id="formGroupExampleInput" placeholder="Entrée la Emplacement" required>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="Marque">Marque</label>
                                                    <input type="text" name="Marque" class="form-control" id="formGroupExampleInput" placeholder="Entrée la Marque" required>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="Model">Model</label>
                                                    <input type="text" name="Model" class="form-control" id="formGroupExampleInput" placeholder="Entrée le Model" required>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="Sriee">Srieé</label>
                                                    <input type="text" name="Sriee" class="form-control" id="formGroupExampleInput" placeholder="Entrée la Srieé" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="Observation">Observation</label>
                                                <textarea class="form-control " name="Observation" id="exampleFormControlTextarea1" rows="3" placeholder="Entrée l'observation" required></textarea>
                                            </div>
                                            <hr class="my-4">
                                            <button type="submit" class=" btn btn-outline-dark btn-lg" data-toggle="modal" data-target="#exampleModal">Envoye</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 18px;">
                    {% include 'categories.html' %}
                </div>
                <div style="margin-top: 18px;">
                    {% include 'Centre.html' %}
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    {% include 'alert.html' %}
                </div>

            </div>
        </div>
    </main>
</body>
<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}

</html>